<%@page_title ="Delete Reviewer #{@reviewer.rev_fname}"%>
<%= link_to(" << Back to list", {:action => "list"}) %>
<div class="reviewer delete">
	<h2>Showing Reviewer <%=@reviewer.id%> </h2>


<%= form_for(:reviewer, :url=> {:action => 'destroy', :id => params[:id], :method=>'POST' }) do |f| %>

	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
	<%= submit_tag("Delete Reviewer")%>    <%=submit_tag("Cancel")%>
	</div>
	
<%end%>	
	</div>
