<%@page_title ="Edit Reviewer  #{@reviewer.rev_fname} #{@reviewer.rev_lname}" %>
<%= link_to(" << Back to list", {:action => "list"}) %>
<div class="reviewer edit">
<h2>Edit Reviewer <%=@reviewer.id %> </h2>



<%= form_for(:reviewer, :url=> {:action => 'update', :id => params[:id]}) do |f| %>
	
	
	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Update Reviewer") %>
	</div>

<%end%>


</div>
