<html>
    <head>
      <title>My Facebook Login Page</title>
    </head>
    <body>
      <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
         FB.init({ 
            appId:'112892922144173', cookie:true, 
            status:true, xfbml:true,  oauth : true
         });
      </script>
      <fb:login-button  perms='user_events'>Login fb</fb:login-button>
    </body>



	 <!-- app/views/home/index.html.erb -->
	  
	  <h1><%= @page.name %></h1>
	  <storng>Upcoming Events:</strong> <br />
	  <hr />
	    <% @upcoming_events.each do |event| %>
	      <%= event.name %> - <%= event.start_time %> <br />
	   <% end %>
	 <br />
	 <br />
	 <storng>Past Events:</strong> <br />
	 <hr />
	   <% @past_events.each do |event| %>
     <%= event.name %> - <%= event.start_time %> <br />
	   <% end %>
 </html>
