<%@page_title ="Delete Restaurant #{@restaurant.rest_name}"%>
<%= link_to(" << Back to list", {:action => "list"}) %>
<div class="restaurant delete">
	<h2>Showing Restaurant <%=@restaurant.id%> </h2>


<%= form_for(:restaurant, :url=> {:action => 'destroy', :id => params[:id], :method=>'POST'}) do |f| %>



	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
	<%= submit_tag("Delete Restaurant")%>    <%=submit_tag("Cancel")%>
	</div>
	
<%end%>	
	</div>
