<%@page_title ="Edit Restaurant  #{@restaurant.rest_name}" %>
<div id="nav">
<ul>
<li><%= link_to(" << Back to list", {:action => "list"}) %></li>
</ul>
</div>


<div class="restaurant edit">
<h2>Edit Restaurant <%=@restaurant.id %> </h2>



<%= form_for(:restaurant, :url=> {:action => 'update', :id => params[:id]}) do |f| %>
	
	
	<%= render(:partial =>"form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Update Restaurant") %>
	</div>

<%end%>


</div>
